# Configure trusted publishing for this workflow.
# See: https://packaging.python.org/en/latest/guides/publishing-package-distribution-releases-using-github-actions-ci-cd-workflows/
# Go to: https://pypi.org/manage/account/publishing/
# Fill: sync-with-uv / tsvikas / sync-with-uv / build-and-publish.yml / pypi
# Go to: https://test.pypi.org/manage/account/publishing/
# Fill: sync-with-uv / tsvikas / sync-with-uv / build-and-publish.yml / testpypi

name: Build and Publish

on:
  push:
    tags: ['v*']
  release:
    types: [published]

permissions:
  contents: read

env:
  # Many color libraries just need this variable to be set to any value.
  # Set it to 3 to support 8-bit color graphics (256 colors per channel)
  # for libraries that care about the value set.
  FORCE_COLOR: 3

jobs:
  ci:
    uses: ./.github/workflows/ci.yml

  build-and-inspect-package:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: hynek/build-and-inspect-python-package@v2

  publish-to-testpypi:
    if: github.event_name == 'push'
    needs: build-and-inspect-package
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/sync-with-uv
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing, but
      # should NOT be granted anywhere else!
      id-token: write
    steps:
      - name: Download package distributions
        uses: actions/download-artifact@v6
        with:
          name: Packages
          path: dist/
      - name: Publish distribution to TestPyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          repository-url: https://test.pypi.org/legacy/

  publish-to-pypi:
    if: github.event_name == 'release'
    needs: build-and-inspect-package
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/sync-with-uv
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing, but
      # should NOT be granted anywhere else!
      id-token: write
    steps:
      - name: Download package distributions
        uses: actions/download-artifact@v6
        with:
          name: Packages
          path: dist/
      - name: Publish distribution to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
